.align-items-center {
  align-items: center;
}
.upload-image-text {
  margin-top: 1rem;
}
@media(min-width: 768px) {
  .button-row {
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
}
@media(max-width: 767px) {
  .choosefile-button {
    margin-top: 1rem;
  }
  .ordernow-button {
    margin-top: 1rem;
    width: 50%;
  }
  .button-row {
    justify-content: space-between;
    align-items: center;
  }
}