@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.heroSection {
  background-color: #f7f7f7;
  height: 450px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  .heroSlogan {
    grid-column: 2 / 5;
    grid-row: 2/5;
    // justify-self: center;
  }

  .checkOurMenuPos {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    // justify-self: center;
  }

  .checkOurMenu {
    background: #f699fd 0% 0% no-repeat padding-box;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0.2em 1em;
    border: none;
  }

  .balloons {
    grid-column: 4;
    grid-row: 2;
    img {
      width: 200px;
      height: 200px;
    }
    margin-left: auto;
  }
}

.macroons {
  img {
    width: 100%;
    height: 500px;
  }
}
