@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.navigationBar {
  display: flex;
  margin-top: 1em;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

  #hocLogo {
    img {
      padding-left: 2em;
      width: 150px;
    }
  }

  ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 6em;
  }

  li {
      display: inline;
      text-decoration: none;
  }
  a{
      text-decoration: none;
      color: black;
      text-align: center;
      margin-left: 3em;
      font-weight: bold;
      font-size: 20px;
  }
  a:hover {
    color: gray;
  }
  
  .contactUs{
    align-self: flex-end;
  }

  #contactUsButton{
    background-color: white;
    color: black;
    border: 5px solid #F699FD;
    border-radius: 20px;
    padding: .1em .5em;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25em;
    margin-bottom: .7em;
    
    
  } 
}



.navigationBar > div {
    padding: .2em .5em;
    
  }


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
